<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body ng-controller="mainController">
    <div id="posts" class="text-center">
        <form ng-submit="addPost()">
            <br><input class="input-xxlarge" type="text" ng-model="newTitle" placeholder="Title">
            <textarea rows="20" class="input-xxlarge edit" ng-model="newBody" placeholder="Write your post here..."></textarea>
            <br><select multiple="multiple" ng-model="chosenTags" ng-options="tag.name for tag in tags"></select>
            <br><input type="submit" class="btn-info" value="Submit">
        </form>
    </div>
</body>

</html>