<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body ng-controller="mainController">
    <ul id="posts" class="unstyled text-center">
        <li ng-repeat="post in posts | filter:search">
            <div>

                <a href="#detail/{[{ post.id }]}"><p><h2>{[{post.title}]}</h2></a>
                <h5>{[{post.pub_date}]}</h5>
                <br>{[{post.body}]}</p>
                <small><b>by</b> {[{post.author}]}</small>





            </div>
        </li>
    </ul>

</body>

</html>