{% block header %}
    <style type="text/css">
        #header { height: 100px;background: darkmagenta; text-align: center; padding-top: 40px}
    </style>
    <div id="header">
    {% block logbar %}
        <style type="text/css">
            #logbar { float: right; background: azure ; width: 50px }
        </style>
        <div id="logbar">
            {% if user.is_authenticated %}
                <a href="/account/logout/">Log out</a>
            {% else %}
                <a href="/account/login/">Log in</a>
            {% endif %}

        </div>
    {% endblock %}
    <h3><p>tytul</p></h3>
    </div>
{% endblock  %}

{% block sidebar %}
        <style type="text/css">
            #sidebar { float: right; background: chartreuse; width: 20%; height: 100%; }
        </style>
        <div id="sidebar">

            <ul>

                <a href="/account/blog/">pisz blog</a>

            </ul>


        </div>

{% endblock %}


{% block content %}
    <style type="text/css">
        #content {text-align: center; height: 100%; word-wrap: break-word; float: left; width: 80%}
    </style>
    <div id="content">

    {% if posts %}
            <ul>
            {% for post  in posts %}
                <a href="/post/{{post.year }}/{{ post.month }}/{{ post.id }}"><h1>{{post.title }}</h1></a>
                <h3>{{ post.pub_date }}</h3>
                {{ post.post_content |safe | truncatewords:"200" }}
            {% endfor %}

            <div class="pagination">
                <span class="step-links">
                {% if posts.has_previous %}
                    <a href="?page={{ posts.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                </span>

                {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}">next</a>
                {% endif %}
                </span>
            </div>

            </ul>
    {% else %}
            <p>There are no posts in our base yet.</p>

    {% endif %}



    </div>
{% endblock %}




