{% extends 'base templates/base.html' %}


<div id="content">
    {% block content %}
        {% if posts %}
                <ul>
                {% for post  in posts %}
                    <br><a href="/post/{{post.year }}/{{ post.month }}/{{ post.id }}"><h1>{{post.title }}</h1></a>
                    <h3>{{ post.pub_date }}</h3>
                    {{ post.post_content |safe | truncatewords:"200" }} </br>
                {% endfor %}

                </ul>
        {% else %}
                <p>There are no posts in our base yet.</p>

        {% endif %}
    {% endblock %}
</div>



